<!DOCTYPE html>
{% load static %}
<html lang="ru">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/1.css' %}">
</head>
{% endblock head %}
<body>

    
    {% block menu %}
    <div class="top">
        <ol class="menu">
            <li><a href="{% url 'home' %}"> Главная</a></li>
            <li><a href="{% url 'goods' 'П' %}"> Продукты</a></li>
            <li><a href="{% url 'goods' 'О' %}"> Одежда</a></li> 
            <li><a href="{% url 'goods' 'Ш' %}"> Для школы</a></li>
            <li><a href="{% url 'goods' 'Д' %}"> Для дома</a></li>
            <li><a href="{% url 'cart'  %}"> Корзина</a></li>
            {% if not user.is_anonymouse %}
            <li><a href="{% url 'kabinet'  %}"> Кабинет</a></li>
            {% endif %}
        {% if not user.is_authenticated %}    
            <li><a href="{% url 'login' %}">Вход</a></li> 


        {% else  %}    

            <li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Выход</button>
            </form> 
            </li> 
        {% endif %}
       </ol>
    
    </div>      
    
    {% endblock menu %}
    {% block content %}
    {% if user.is_anonymous %}    
    <h2>Привет Гость</h2>
    {% else %}
     <h2>Привет {{ user.username }}</h2> 
     {% endif %}
    <div class="image">
        <img src="https://avatars.mds.yandex.net/i?id=a76cb83b5dd5e293000f61af8f50bb1fc3ca07f7-10870819-images-thumbs&n=13" alt="">
    </div>
    {% endblock content %}
</body>
</html>